{% extends 'base.html.twig' %}

{% block title %}Hello Détail!{% endblock %}

{% block body %}
<style>
    /*.example-wrapper { margin: 10em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }*/
    .example-wrapper code { background: #F5FFFA; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    
  
    <h1>{{ article.title }}</h1>
	<h2>{{ article.description }}</h2>
	
    <img src="{{ article.image }}" height="auto" width="auto"/>
    
    <br>


    Ce message vient de :
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Utilisateur/Documents/PHP/sfblog/src/Controller/ArticleController.php'|file_link(0) }}">src/Controller/ArticleController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Utilisateur/Documents/PHP/sfblog/templates/article/list.html.twig'|file_link(0) }}">templates/article/list.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}