{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    /*.example-wrapper { margin: 1em auto; max-width: 400px; width: 100%; font:18px/1.5/cursive;; }*/
    .example-wrapper code { background: #F5FFFA; padding: 2px 6px;  }
</style>

<div class="example-wrapper">

    <h1>Bienvenue {{ title }}! ✅</h1>
    <h1>Hello {{ subtitle }}! ✅</h1>
    <h1>Maintenant {{description }} ✅</h1>

            
     {% for article in article %}
	    <h1>{{ article.title }}</h1>
	    <h2>{{ article.description }}</h2>
	    <a href="/article/{{ article.id }}">
	   		<img src="{{ article.image }}" height="400" width="400"/>
	   	</a>

    {% endfor %}

    <br>


    Ce message vient de :
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Utilisateur/Documents/PHP/sfblog/src/Controller/ArticleController.php'|file_link(0) }}">src/Controller/ArticleController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Utilisateur/Documents/PHP/sfblog/templates/article/list.html.twig'|file_link(0) }}">templates/article/list.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
